{% extends "base.html" %}

{% block app_content %}
    <h1>Deploy Stack</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.org.label }}<br>
            {{ form.org(size=32) }}<br>
            {% for error in form.org.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.project.label }}<br>
            {{ form.project(size=32) }}<br>
            {% for error in form.project.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.stack.label }}<br>
            {{ form.stack(size=32) }}<br>
            {% for error in form.stack.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}