pulumi>=3.0.0,<4.0.0
# pulumi-aws==5.8.0
pulumi-aws>=5.8.0
pulumi-command>=0.3.0
pulumi-pulumiservice>=0.1.8,<1.0.0
ansible>=6.3.0
# ../../../mlc-python-ec2_instance/sdk/python/bin
pulumi_wpinstance @ git+https://github.com/MitchellGerdisch/mlc-python-ec2_instance.git#subdirectory=sdk/python/bin